.loading-letterbox {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	z-index: 10;
	transform: translateY(0);
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	color: #e0c070;
	text-align: center;
	padding: 0.5rem 0;
	pointer-events: none;
	will-change: transform;
	backface-visibility: hidden;
	perspective: 1000px;
}

.loading-letterbox.hiding {
	transform: translateY(100%);
}

.loading-letterbox p {
	margin: 0;
	font-size: 0.9rem;
	letter-spacing: 1px;
}