.mode-switcher {
	position: absolute;
	top: 30px;
	right: 40px;
	z-index: 100;
	color: #fff;
	font-family: "Arial", sans-serif;
	padding: 8px 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	opacity: 0.8;
	transition: opacity 0.3s ease, background-color 0.3s ease;
	will-change: opacity;
}

.mode-switcher:hover:not(.disabled) {
	opacity: 1;
}

.mode-switcher.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.mode-switcher .switcher-logo {
	height: 20px;
	width: auto;
}