.App {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #fff;
}

.video-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
}

#video-prelayer {
	z-index: 1s;

}

#video-layer {
	z-index: 2;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	text-align: center;
	opacity: 1;
	transition: opacity 1.5s ease-out;
}

.overlay.hidden {
	opacity: 0;
	pointer-events: none;
}

.masked-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: opacity 2s ease;
}

.masked-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: opacity 2s ease;
}

.masked-layer.visible {
	opacity: 1;
}

.masked-layer .video-bg {
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 50% auto;
	mask-size: 50% auto;
	-webkit-mask-image: url("/image/pre.webp");
	mask-image: url("/image/pre.webp");
	-webkit-mask-position: 0% center;
	mask-position: 0% center;
	-webkit-transition: -webkit-mask-position 1s ease-in-out;
	transition: mask-position 1s ease-in-out;
}

.masked-layer.moving .video-bg {
	-webkit-mask-position: 50% center;
	mask-position: 50% center;
}

.masked-layer.animating .video-bg {
	-webkit-mask-image: var(--animation-mask-image);
	mask-image: var(--animation-mask-image);
	-webkit-mask-position: 50% center;
	mask-position: 50% center;
}